[submodule "extern/TSAL"]
	path = extern/TSAL
	url = https://github.com/duckonomy/TSAL.git
	branch = cmake
[submodule "extern/--branch"]
	path = extern/--branch
	url = https://github.com/Calvin-CS/TSAL
