[submodule "extern/cereal"]
	path = extern/cereal
	url = https://github.com/USCiLab/cereal
	branch = master
[submodule "extern/TSAL"]
	path = extern/TSAL
	url = https://github.com/Calvin-CS/TSAL
	branch = cmake

[submodule "extern/json"]
	path = extern/json
        url = https://github.com/nlohmann/json
	branch = master
